<turbo-frame id="accounts">
  <h1> We have <%= @accounts.count %> accounts</h1>
  <p>Which one would you like advice for?</p>
  <% @accounts.each do |account| %>
    <a class="button" href="/account/<%= account[:id] %>" data-turbo-stream="true">
      <% if account[:iban] %>
        <%= account[:iban] %> <%= account[:balance] %> <%= account[:currency] %>
      <% else %>
        <%= account[:id] %>
      <% end %>
    </a>
  <% end %>
  <div id="account"></div>
</turbo-frame>